In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df1=pd.read_csv(r"C:\Users\ansik\Downloads\archive (9)\heart_disease_uci.csv")
df=df1

In [3]:
df.columns

Index(['id', 'age', 'sex', 'dataset', 'cp', 'trestbps', 'chol', 'fbs',
       'restecg', 'thalch', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [4]:
df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [7]:
df["thalch"].value_counts()

thalch
150.0    43
140.0    41
120.0    35
130.0    30
160.0    26
         ..
63.0      1
67.0      1
107.0     1
69.0      1
73.0      1
Name: count, Length: 119, dtype: int64

In [8]:
df["restecg"].value_counts()

restecg
normal              551
lv hypertrophy      188
st-t abnormality    179
Name: count, dtype: int64

In [9]:
df["fbs"].value_counts()

fbs
False    692
True     138
Name: count, dtype: int64

In [10]:
df["exang"].value_counts()

exang
False    528
True     337
Name: count, dtype: int64

In [11]:
df["cp"].value_counts()

cp
asymptomatic       496
non-anginal        204
atypical angina    174
typical angina      46
Name: count, dtype: int64

# Data Pre-processing

In [12]:
df=df.drop(columns=["ca","thal","slope","dataset"])

In [13]:
df=df.drop(columns='id')

In [14]:
df["trestbps"]=df["trestbps"].fillna(np.mean(df["trestbps"]))
df["chol"]=df["chol"].fillna(np.mean(df["chol"]))
df["thalch"]=df["thalch"].fillna(np.mean(df["thalch"]))
df["oldpeak"]=df["oldpeak"].fillna(np.mean(df["oldpeak"]))
df["restecg"]=df["restecg"].fillna("normal")
df["fbs"].fillna(0,inplace=True)
df["exang"]=df["exang"].fillna(0)
df["restecg"].value_counts()

C:\Users\ansik\AppData\Local\Temp\ipykernel_11968\2134702812.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fbs"].fillna(0,inplace=True)

restecg
normal              553
lv hypertrophy      188
st-t abnormality    179
Name: count, dtype: int64

In [15]:
pd.set_option('future.no_silent_downcasting', True)
encode={"restecg":{"normal":0,"lv hypertrophy":1,"st-t abnormality":2},
        "fbs":{ False :0, True:1},
        "exang":{ False :0, True :1},"sex":{"Male":1,"Female":0},"num":{0:0,(1,2,3,4):1},"cp":{'asymptomatic':0,'typical angina':1,'non-anginal':2,'atypical angina':3}}
df=df.replace(encode)

In [16]:
# Scaling the numerical values
df["trestbps"]=df["trestbps"].apply(lambda s : (s-df["trestbps"].mean())/(df["trestbps"].std()))
df["age"]=df["age"].apply(lambda s : (s-df["age"].mean())/(df["age"].std()))
df["chol"]=df["chol"].apply(lambda s : (s-df["chol"].mean())/(df["chol"].std()))
df["thalch"]=df["thalch"].apply(lambda s : (s-df["thalch"].mean())/(df["thalch"].std()))
df["oldpeak"]=df["oldpeak"].apply(lambda s : (s-df["oldpeak"].mean())/(df["oldpeak"].std()))

# Splitting data into training and testing data

In [17]:
target=df["num"]
features=df.iloc[:,:-1]
X_train,X_test,Y_train,Y_test=train_test_split(features,target, test_size=0.2, train_size=0.8, shuffle=True,random_state=42)
X_train=np.array(X_train,dtype=float)
Y_train=np.array(Y_train,dtype= float)
Y_train=Y_train.reshape(Y_train.shape[0],1)
X_test=np.array(X_test,dtype= float)
Y_test=np.array(Y_test,dtype= float)
print(Y_test)

[0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1.
 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1.
 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0.
 0. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1.
 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1.]

# Linear Regression

In [18]:
def gradient_descent1(x,y,y_hat):
    m=x.shape[0]
    dw1=(1/m)*np.dot(x.T,(y_hat-y))
    db1=(1/m)*np.sum(y_hat-y)
    return dw1,db1

In [19]:
def train_linear():
    bs=40
    lr=0.001
    epoch=150
    m,n=X_train.shape
    w=np.zeros((n,1))
    b=0

    for i in range(epoch):
        for j in range((m-1)//bs+1):
            start_indx=j*bs
            end_indx=start_indx+bs
            x=X_train[start_indx:end_indx]
            y=Y_train[start_indx:end_indx]
            y_hat=np.dot(x,w)+b
            dw,db=gradient_descent1(x,y,y_hat)
            w-=lr*dw
            b-=lr*db
    return w,b

In [20]:
def predict(w,b):
    y_hat=np.dot(X_test,w)+b
    return y_hat

In [21]:
w,b=train_linear()
y_pred=predict(w,b)

In [22]:
loss=np.mean((Y_test-y_pred)**2)
print(loss)

0.3546481295496606